@font-face {
    font-family: 'AllianzNeo';
    /* Antes de descargar el archivo, le decimos al buscador
que intente buscar en local la fuente con nombre
Cabin, Cabin Regular o Cabin-Regular */
    src: url(../fonts/AllianzNeo-Regular.ttf);
}

body {
    font-family: 'AllianzNeo';
}

.meta-header {
    background-color: #fff;
    overflow: hidden;
    padding: 0.8rem;
    border-bottom: 1px solid #f2f2f2;
    a#toggle-icon {
        margin-top: 0.9rem;
    }
    #block-responsivemenumobileicon {
        .responsive-menu-toggle-icon {
            &:before {
                background: #a4a4a4;
            }
            span.icon {
                background: #a4a4a4;
            }
            &:after {
                background: #a4a4a4;
            }
        }
    }
}

header {
    #block-logo {
        padding-bottom: 2rem;
        margin: 2rem 0 2rem;
    }
}

#account-login-form {
    label {
        text-transform: uppercase;
        font-size: .7rem;
    }
    span {
        display: block;
        font-size: .875rem;
        line-height: 1.8;
        color: #4F4F4F;
        margin-bottom: 1rem;
    }
    .g-recaptcha {
        >div {
            margin: 0 auto;
        }
    }
}

.title-card {
    font-weight: normal !important;
}

main#main {
    padding-bottom: 4rem;
}

h2 {
    font-size: 2.2rem;
    margin: 2rem 0;
}

#block-servicios {
    padding-top: 1rem;
    h2 {
        font-size: 2.2rem;
        margin: 2rem 0;
    }
    ul.menu {
        li {
            width: 100%;
            border-radius: 16px;
            border: 1px solid #cacaca;
            margin: 1rem 0 0;
            a {
                color: #040404;
            }
        }
    }
}

.step {}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
}

.card.text-center.card-adjust {
    margin-bottom: 2rem;
}

section#block-accountloginblock {
    padding: 3rem;
}

section#block-logo {
    display: none;
}

section#block-footer {
    font-size: 0.9rem;
}

.solicitar-autorizacion-form {
    margin: 2rem 1rem;
    background-color: #f0f0f0;
    padding: 1.4rem;
    border-radius: 10px;
}

.tratamiento-de-datos {
    text-align: center;
    >label {
        margin: 0;
    }
    .description {
        display: inline-block;
    }
}

#block-alertaproveedor {
    position: absolute;
    max-width: 428px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #e8e6e6;
}

#block-alertadiagnosticosytev {
    position: absolute;
    max-width: 312px;
    display: block;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #e8e6e6;
    border: #cacaca;
    // border-style: solid;
}

.close-popup-custom {
    font-size: 18px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #6fa5fd;
    display: block;
    cursor: pointer;
}

.close-popup-custom-entidades {
    font-size: 18px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #6fa5fd;
    display: block;
    cursor: pointer;
}

.popup-custom {
    padding: 18px;
    border: 0px solid #e8e6e6;
    background: #e8e6e6;
    overflow: auto;
    border-radius: 10px !important;
    font-size: 14px;
}

.popup-custom-entidades {
    padding: 18px;
    border: 0px solid #e8e6e6;
    background: #e8e6e6;
    overflow: auto;
    border-radius: 10px !important;
    font-size: 14px;
    position: absolute;
    max-width: 312px;
    display: block;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #e8e6e6;
}

#popup-message-window {
    display: block;
    position: fixed;
    _position: absolute;
    overflow: auto;
    background: #ffffff;
    border: 0px solid #cecece;
    z-index: 9999;
    padding: 18px;
    font-size: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border-radius: 10px !important;
}

.padding-card {
    padding: 50px 20px 20px 20px;
}

#popup-message-close {
    text-indent: -10000px;
    position: relative;
    padding: 14px;
    &:after {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        content: "";
        background: url(../images/close.png);
    }
}

.card:hover {
    background-color: #aaaaaa14;
}

.agendamiento-citas {
    position: fixed;
    width: 152px;
    height: 60px;
    bottom: 40px;
    right: 4px;
    color: #FFF;
    z-index: 100;
}

.card-adjust {
    height: 295px;
    width: auto;
    margin: 1px;
    box-shadow: 0 4px 8px 0 lightgrey;
}

.card-text-header {
    padding-top: 10px;
    font-weight: bold;
}

.card-text-address {
    padding: 40px 0px 40px 0px;
    color: #414141;
}

.ul-phones ul {
    list-style: none;
    color: #006192;
}

.ul-remove ol {
    list-style: none;
}

.form-item-field-ciudad-de-atencion-target-id label {
    font-size: 1.375rem !important;
}

select:disabled {
    background-color: #ffffff00 !important;
    cursor: not-allowed;
}

.paddingTop50 {
    padding-top: 50px;
}

.p-text-caract {
    padding: 0 30px 0 30px;
}

.maxHeight {
    max-height: 124px;
}

.pager__item--previous {
    display: inline;
}

.pager__item--next {
    display: inline;
}

.bordes tr,
td {
    border: 1px solid;
}

.maxWith {
    // max-width: 148px;
}

.padding-text-card {
    padding: 10px;
}

.padding-column {
    padding: 20px 15px 20px 15px;
}

form#views-exposed-form-entidades-page-1 li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 2rem;
    float: none;
}

form#views-exposed-form-entidades-page-1 li:nth-child(1) a {
    background: url(../images/plan-1.png) no-repeat center top;
    padding-top: 90px;
    display: inline-block;
}

form#views-exposed-form-entidades-page-1 li:nth-child(2) a {
    background: url(../images/plan-2.png) no-repeat center top;
    padding-top: 90px;
    display: inline-block;
}

form#views-exposed-form-entidades-page-1 li:nth-child(3) a {
    background: url(../images/plan-3.png) no-repeat center top;
    padding-top: 90px;
    display: inline-block;
}

form#views-exposed-form-entidades-page-1 li:nth-child(4) a {
    background: url(../images/plan-4.png) no-repeat center top;
    padding-top: 90px;
    display: inline-block;
}

form#views-exposed-form-entidades-page-1 ul {
    width: 100%;
    display: block;
    text-align: center;
}

form#views-exposed-form-entidades-page-1 select {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #414141;
    margin-right: 2rem;
}

.mm-page {
    background: none !important;
}

.section-home {
    background: #f9f9f9;
}

.cards-home {
    .card {
        height: 320px;
        position: relative;
        .button {
            position: absolute;
            bottom: 4.2rem;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            display: inline-block;
            width: auto !important;
        }
    }
}

.mm-panels {
    a {
        font-size: 1rem;
    }
}

.mm-menu.mm-theme-dark {
    background: #002866;
}

form .form-actions input#edit-reset {
    background-color: #cc4b37 !important;
    color: #fefefe;
    margin-top: 1rem;
}

.mt26 {
    margin-top: 26px;
}

// .pager__item--previous span {
//     display: none;
// }